html,
body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.interviewSelect,
.demographicInfo,
.riskInfo {
    padding: 5rem;
    margin: 1rem;
    text-align: left;
    align-items: center;
}

.successScreen {
    padding: 1rem;
    margin: 1rem;
    margin-top: 10rem;
    text-align: center;
}

.behaviorInfo {
    padding: 1rem;
    margin: 1rem;
    text-align: left;
}

.interviewInput {
    margin: .1rem;
    flex-basis: 75%;
    padding: .1rem;
    text-align: left;
    display: flex;
    flex-direction: column;
}

button {
    max-width: max-content;
    all: unset;
    background-color: white;
    margin: 15px;
    padding: 5px;
    font-size: large;
    text-align: left;
}

button:hover,
.active {
    color: rgb(0, 10, 99);
    font-weight: bold;
}

.twoButton {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.multiButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.dataReview {
    min-height: 100vh;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.submitBtns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
}

.submitBtns>button {
    border-radius: 10px;
    border: solid 1px;
    border-color: rgb(198, 202, 202);
    margin: 15px;
    padding: 15px;
}

select,
input {
    font-size: large;
}

span {
    font-style: italic;
    margin: 5px;
    padding: 5px;
}

pre {
    white-space: pre-wrap;
    overflow-x: auto;
    margin: 5px;
    padding: 5px;
}