@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;600&family=Cabin:wght@500&family=Fjalla+One&family=Fredoka:wght@400;700&family=IBM+Plex+Sans:wght@100&family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&family=Prompt:wght@100&display=swap");

.title {
  font-size: 35px;
  text-align: center;
}

html,
body {
  font-family: "Be Vietnam Pro", sans-serif;
  color: #071e22;
}

.progress_bar {
  display: flex;
  justify-content: center;
}
.hidden, .hidden-chart {
  display: none;
}
.progress_outline {
  height: 20px;
  width: 50%;
  border-radius: 0.2em;
  border: 1px solid #071e22;
}

.progress_filled {
  background-color: #071e22;
  height: 20px;
}

.interview_select,
.agency_select,
.phone_input,
.pid_input,
.name_input,
#page_submit,
.section_question {
  display: none;
  margin-top: 10px;
  margin-bottom: 10px;
}

.edit_section_question {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
}

.button {
  color: white;
  background-color: #071e22;
  padding: 15px;
  margin: 15px;
  font-size: large;
  border-radius: 0.2em;
  width: 80%;
}

.button:hover,
.page_button:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.button-selected {
  color: white;
  background-color: #236e7c;
  padding: 15px;
  margin: 15px;
  font-size: large;
  border-radius: 0.2em;
  width: 80%;
}
.page_button {
  color: white;
  background-color: #0c4a55;
  padding: 15px;
  margin: 15px;
  font-size: large;
  border-radius: 0.2em;
  width: 80%;
}

input,
select {
  color: #071e22;
  padding: 15px;
  margin: 15px;
  font-size: large;
  border-radius: 0.2em;
  width: 80%;
}

.nav-select {
  all: revert;
  width: min-content;
  color: #0c4a55;
  margin-left: 10px;
  padding: 10px;
  font-weight: bold;
  font-size: medium;
}

.finished-question {
  color: #236e7c;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.number-input {
  width: 30%;
}

.unknown-checkbox {
  padding: 10px;
}

.checkbox {
  margin: 15px;
  padding: 15px;
  height: 30px;
}

.interview_header {
  margin-bottom: 5vh;
}

.landing,
.container {
  display: flex;
  min-height: 75vh;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  margin: 2rem;
  margin-top: 10vh;
  margin-bottom: 5vh;
}

.landing-link {
  font-size: xx-large;
  padding: 20px;
}

.landing-link:hover,
.nav-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.web-nav {
  display: flex;
  justify-content: flex-start;
  list-style: none;
}

.mobile-nav {
  display: none;
}

.nav-link > a {
  color: #0c4a55;
}

.nav-link {
  margin: 10px;
  font-weight: bold;
}

.page-link {
  margin: 10px;
  font-size: 1.5em;
}

nav {
  position: fixed;
  background: #fff;
  top: 0;
  height: 10vh;
  border-bottom: 2mm ridge #0c4a55;
  width: 100%;
}
.interview-nav {
  all: revert;
  display: flex;
  flex-direction: column;
  position: fixed;
  margin-left: 50%;
  top: 20vh;
  background: white;
  padding-right: 10vh;
  text-align: right;
  width: 20rem;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 5vh;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mobile-menu,
.mobile-nav-hide,
.mobile-nav-show {
  display: none;
}
@media only screen and (max-width: 750px) {
  .graph-display {
    display: none;
  }
}
@media only screen and (max-width: 982px) {
  nav {
    all: revert;
    width: 100%;
  }

  .web-nav {
    display: none;
  }

  .mobile-menu {
    display: block;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: absolute;
    position: fixed;
    text-align: right;
    background-color: #071e22;
    padding-top: 1rem;
    padding-bottom: 1.6rem;
    color: white;
    width: 100%;
    top: 0%;
  }
  .mobile-menu > p {
    padding-right: 10%;
    font-size: larger;
  }

  .mobile-nav-show {
    display: block;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute;
    position: fixed;
    background-color: #fff;
    height: 87vh;
    top: 4.87rem;
    z-index: 1;
    padding-right: 1rem;
    border-right: 4mm ridge #071e22;
    transition: all var(--duration);
  }

  .mobile-nav-hide {
    display: none;
  }
  .hidden-link {
    display: none;
  }
}

.hidden-link {
  display: none;
}

.bar-chart {
  min-width: 624px;
}

.jump-btn {
  position: absolute;
  position: fixed;
  top: 7rem;
  right: 2rem;
  z-index: 1;
  background-color: #236e7c;
  color: white;
  padding: 10px;
  margin: 5px;
  font-size: large;
  font-weight: 800;
  border-radius: 0.2em;
}

.display-one-graph-option {
  margin: 10px;
  font-weight: bold;
}
.display-one-graph-option > a {
  padding: 7px;
  font-size: large;
  background-color: #071e22;
  color: white;
  margin: 7px;
  border-radius: 15%;
}

.hidden-checkbox, .hidden-display-option{
  display: none;
}